body {
  background: #f9f9f9;
}

.logo {
  color: #2e3d3a;
}

.arrows {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1.25em;
}

.arrows path {
  fill: #2e3d3a;
}

.btn-prev svg,
.btn-next svg {
  width: 1em;
  height: auto;
  cursor: pointer;
}

.btn-prev svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: 1.5em;
}

@media screen and (max-width: 786px) {
  .header:after {
    content: "";
    width: 100vw;
    height: 55px;
    background: #f9f9f9;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
  }
}

@media screen and (min-width: 786px) {
  .arrows {
    margin: 0;
    margin-top: 45vh;
    width: 100%;
  }

  .arrows-group {
    width: 100%;
    position: relative;
  }

  .btn-prev {
    left: 3vw;
  }

  .btn-next {
    right: 3vw;
  }

  .btn-prev,
  .btn-next {
    width: 1.25em;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }

  .btn-prev:hover {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  .btn-next:hover {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}

/* Work-Detail */
.work-detail {
  font-family: "Nunito Sans", sans-serif;
  margin: 7em auto 0;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 3em;
}

.work-detail > * {
  margin: 0;
}

.work-detail-item {
  opacity: 0;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

.is-loading {
  -webkit-animation: fadeIn 1s forwards;
  animation: fadeIn 1s forwards;
}

@-webkit-keyframes fadeIn {
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
.work-detail a {
  text-decoration: none;
  color: #2e3d3a;
}

.work-detail ul {
  list-style: none;
  padding: 0;
}

@media screen and (min-width: 786px) {
  .work-detail {
    margin-top: 8em;
  }
}
@media screen and (min-width: 1100px) {
  .work-detail {
    width: 50em;
  }
}
.title {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1em;
}

.info {
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.75em;
  font-weight: 200;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.link a {
  margin-right: 5px;
  line-height: 1.75em;
  font-style: italic;
}

.link--icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 25px;
  background: #2e3d3a;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.link a:hover .link--icon {
  width: 15px;
  height: 5px;
}

.long-desc {
  margin-top: 2.5em;
  font-size: 1em;
  font-weight: 200;
}

.long-desc li {
  margin-bottom: 1.25em;
}

.images {
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.images li {
  text-align: center;
}

.images img {
  max-width: 100%;
  margin-bottom: 0.75em;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.images p:not(:first-of-type) {
  margin-top: 2em;
}

.image-title {
  font-weight: bold;
  margin-bottom: 10px;
}
